Support for NIST Curves

Consider:

```
function deriveSecretKey(privateKey: any, publicKey: any) {
  return crypto.subtle.deriveKey(
    {
      name: 'ECDH',
      public: publicKey,
    },
    privateKey,
    {
      name: 'AES-GCM',
      length: 256,
    },
    true,
    ['encrypt', 'decrypt']
  );
}
```

vs:

https://github.com/digitalbazaar/x25519-key-agreement-key-2019/blob/master/lib/X25519KeyPair.js#L285

```
  deriveSecret({publicKey}) {
    const remotePubkeyBytes = base58Decode({
      decode: base58.decode,
      keyMaterial: publicKey.publicKeyBase58,
      type: 'public'
    });

    const privateKeyBytes = base58Decode({
      decode: base58.decode,
      keyMaterial: this.privateKeyBase58,
      type: 'private'
    });

    return nacl.scalarMult(privateKeyBytes, remotePubkeyBytes);
  }
```

We have a parameterization issue here... the `X25519KeyPair` is exposing raw scalar multiplication, but web crypto is exposing keys for `AES-GCM` ... meaning that anyone trying to use `X25519KeyPair` "standard LDKeyPair interface" is now responsible for understanding how to do what you have done here....

- https://github.com/digitalbazaar/minimal-cipher/blob/7a63e2b57678a425369181a6468b0a5d2ba9762e/algorithms/x25519.js#L60

- https://github.com/digitalbazaar/minimal-cipher/blob/3e1b339d74b0051dd3814231b62131e402530a49/algorithms/aeskw.js#L55

The issue here is one of extensibility... `deriveSecret` vs `deriveSecretKey`....

I am attempting to allow support for P-384 in minimal Cipher.... and these interfaces are causing me some pain... IMO... `X25519KeyPair` should be exposing `deriveSecretKey` with support for `AES-GCM`... not exposing raw scalar multiplication...

kekFromEphemeralPeer is implementing an API, which is "home rolled" in the sense that you have implemented:

https://github.com/digitalbazaar/minimal-cipher/blob/7a63e2b57678a425369181a6468b0a5d2ba9762e/algorithms/ecdhkdf.js

https://github.com/digitalbazaar/minimal-cipher/blob/7a63e2b57678a425369181a6468b0a5d2ba9762e/algorithms/aeskw.js

^ and you are throwing when detecting keys that are not X255519... https://github.com/digitalbazaar/minimal-cipher/blob/7a63e2b57678a425369181a6468b0a5d2ba9762e/algorithms/x25519.js#L42

So.... the interface for minimal cipher is intentionally preventing interop with NIST Curves at the key agreement layer.... which is a separate issue from FIPs algorithms for encryption....

This is related to https://github.com/w3c-ccg/did-method-key/issues/14 ... in that the LD KeyPair class and "Web Kms" Keypair classes you are using are leaking out of your internal representations, and into standards "KeyAgreement" != "KeyDerivation"... 

There is my description of the problem:

1. How do we list keys used for encryption?
2. How do we use keys listed for encryption to get "key material" of various kinds...
3. How do we build APIs around "AES-GCM" / "ECDH-ES+A256KW" that work with software not written by digital bazaar.
4. How do we have standards based interop when our only crypto dependency is `window.crypto` / node crypto.

IMO here is possible solution:

1. We agree on how keyAgreement keys can be expressed in a did document that don't use base58 encoding (solve the JWK problem, for web developers, don't punt on this).
2. We agree on a LDKeyPair Class interface which supports `deriveSecretKey` NOT just `deriveSecret`....
3. We use `deriveSecretKey` in minimal cipher and have out of the box support for NIST Curves as well as X25519.
4. Dump warning in console when people use anything but X25519.... don't throw errors.

^ if we can't get a single interface for both "future facing better crypto" and "legacy crypto aka NIST curves"... we'll (Transmute) need to fork this npm module and anything that relies on it (EDV Client) to add support for NIST stuff :(

This would apply also to DIDComm and Encrypted Data Vaults.

@dlongley @dmitrizagidulin does this make sense? 





@OR13,

I haven't had time to consider all of the above yet, but did you look at the `deriveBits` API in Web Crypto? You should be able to use it to derive a shared secret w/ECDH:

https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/deriveBits

There are a number of details that are important to get right about how the key is derived. It must be according to [RFC 7518 Section 4.6.2](https://tools.ietf.org/html/rfc7518#section-4.6.2) and the consumer/producer info choices are important wrt avoiding certain vulnerabilities and so on. This means that relying on the limited `deriveKey` from the Web Crypto API is likely not possible.

We do want to support a NIST-compliant option here -- and P-384 would be fine. We just haven't implemented it. The key derivation stuff is in [ecdhkdf.js](https://github.com/digitalbazaar/minimal-cipher/blob/master/algorithms/ecdhkdf.js) and should be according to the RFC above. It should be reusable for both X25519 and P-384. We do need to detail the choices made for consumer/producer info but an attempt was made to make it as simple as possible (producer info is the ephemeral public key and consumer info is the static public key ID, IIRC).

I'll do a more thorough read through your issue above when I can.

thanks! so `deriveSecret` is really just renamed web crypto `deriveBits` ? I am implementing support for P-384 in did key here: https://github.com/transmute-industries/did-key.js/pull/20

I am trying to make sure it supports `signer` `verifier` and `deriveSecret` so that it can be used without modification in this library AND in JsonWebSignature2020... and thats why I opened this issue... I believe its possible to do, i just need to make sure that `deriveSecret` and `deriveBits` are the same as `deriveSecret` and `nacl.scalarMultiply`... thats what I was not sure about.

@OR13,

Please note that omitting producer/consumer info (PartyUInfo/PartyVInfo) from the derivation process can lead to potential vulnerabilities:

https://tools.ietf.org/html/rfc7748#section-7

> Designers using these curves should be aware that for each public
   key, there are several publicly computable public keys that are
   equivalent to it, i.e., they produce the same shared secrets.  Thus
   using a public key as an identifier and knowledge of a shared secret
   as proof of ownership (***without including the public keys in the key
   derivation***) might lead to subtle vulnerabilities.

Which is why that information is included here in this library as noted above. There was a long thread discussing this before the RFC came out with a number of complaints about it allowing these fields to be omitted. Those complaining didn't win and it appears that the spec allows people to get burned.

I'm not sure what happens internally with `deriveKey` (as you can't specify this information with its API) ... nor do I know if browser implementations differ in any way.

@OR13,

> thanks! so deriveSecret is really just renamed web crypto deriveBits ? I am implementing support for P-384 in did key here:

They should be equivalent, yes.

@OR13,

> I believe its possible to do, i just need to make sure that deriveSecret and deriveBits are the same as deriveSecret and nacl.scalarMultiply... thats what I was not sure about.

Yes, they should be equivalent. Obviously `nacl.scalarMultiply` is the specific DH operation for X25519, but each of these operations is taking a DH public key and a DH private key and combining them via a cryptographic operation to produce a raw shared secret.

In short, `deriveBits` from the Web Crypto API and `deriveSecret` in this library are performing the same function. And if you were to use node.js, the function is called [computeSecret](https://nodejs.org/api/crypto.html#crypto_diffiehellman_computesecret_otherpublickey_inputencoding_outputencoding). You can see what chromium does in its `deriveBits` implementation [here](https://chromium.googlesource.com/chromium/src/+/master/components/webcrypto/algorithms/ecdh.cc#49), which ultimately involves calling openssl's [ECDH_compute_key](https://man.openbsd.org/ECDH_compute_key.3) with a `null` KDF function, indicating it will return the raw shared secret.

Once you have a shared secret, it can then be fed into a KDF (along with other parameters) to produce a shared/derived key. The KDF should be as specified here https://tools.ietf.org/html/rfc7518#section-4.6.2 for interop. To ensure interop, we also have to say what the producer/consumer info will be, as noted above.

The `deriveKey` function in the Web Crypto API effectively calls `deriveBits` internally and then runs some KDF using *some* parameters (or perhaps none) for producer/consumer info. EDIT: See below, it doesn't use a KDF at all, but simply calls `importKey` on the raw shared secret bits (result of `deriveBits`). Which means, `deriveKey` just wraps a CryptoKey interface around the raw bits, just as if you had imported a raw key.

It appears that `deriveKey` on chromium will import the shared secret *directly* as raw bytes when deriving a key (it does not appear to use RFC 7518, or any KDF for that matter):

```c++
std::vector<uint8_t> derived_bytes;
status = derive_impl->DeriveBits(algorithm, base_key, has_length_bits,
                                 length_bits, &derived_bytes);
if (status.IsError())
  return status;

// Create the key using the derived bytes.
return ImportKey(blink::kWebCryptoKeyFormatRaw, CryptoData(derived_bytes),
                 import_algorithm, extractable, usages, derived_key);
```

https://chromium.googlesource.com/chromium/src/+/master/components/webcrypto/algorithm_dispatch.cc#309

This is clearly not desirable (here). But is according to spec:

https://www.w3.org/TR/WebCryptoAPI/#SubtleCrypto-method-deriveKey

`deriveKey` simply calls `deriveBits` followed by `importKey`.

@dlongley thanks, this is super helpful.

Summarizing.... seems like all linked data key agreement key pair classes should implement a `deriveSecret` and its value should be equivalent to `deriveBits` / `scalarMultiplication`... in the future... we might add other methods related to encryption.

https://key.did.ai/did/did:key:zUewNx6pAKABMemqTqcEWAEPVxht1ktr9ugLyXkoHiSAzhQBDNRdC2nLauoLKcwstytQCYeCazJ8m4rowp27ivJS4NmofDMAMjLqbqcn1tVKQTAk45d7wzcJZwJaZaAkSu78wFK

https://github.com/transmute-industries/did-key.js/blob/master/packages/p384/src/crypto-helper/crypto-helper-node.ts#L109

key pair class assumes publicKeyJwk: https://github.com/transmute-industries/did-key.js/blob/master/packages/p384/src/P384KeyPair.ts#L206

I think there may remain an issue with async vs not async... and obviously need tests to confirm it works with minimal cipher... but those would obviously fail until changes are made here to allow P-384.... standing by to write tests to confirm minimal cipher supports P-384 :)



Closing now that P-256 support has been added. P-256 is the NIST-supported curve with by far the best interop story and the goal here is to implement a minimal number of things, so we don't plan on implementing P-384 at this time.